@import "tailwindcss";

:root {
  font-family: 'Segoe UI', 'San Francisco', -apple-system, system-ui, sans-serif;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
  color: white;
  user-select: none;
}

.cursor-none {
  cursor: none;
}